* {
    box-sizing: border-box;
    font-family: Verdana, "Segoe UI" , Helvetica, Arial, sans-serif;
}
html{
    height: 100%;
}
body {
margin: 0;
height: 100%;

}
main{
    height: 100%;
}
.row{
    display: flex;
}
.izquierdo{
width: 50%;
padding-top: 295px;
padding-left: 200px;
}
.derecho {
    width: 50%;
    padding-left: 110px;
    padding-right: 100px;
    padding-top: 180px;
}
.logox{
   height: 50%;
   width: 77%;
   background-image: url(../img/logoX.png);
   background-repeat: no-repeat;
}
.p {
    margin:0 0 ;
}
.texto-xxl {
    font-weight: bold;
    font-size: 50px;
    color: black;
    
}
.texto-l {
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.inputG{
    border-radius: 40px;
    border: 1px solid rgb(206, 217, 222);
    display: block;
    margin-bottom: 20px;
    width: 50%;
    background-color: white;
    padding: 5px; 
}
.inputA{
    border-radius: 40px;
    border: 1px solid rgb(206, 217, 222);
    display: block;
    width: 50%;
    font-weight: bold;
    background-color: white;
    padding: 5px;
}
.inputazul {
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid rgb(206, 217, 222);
    width: 50%;
    color: white;
    background-color: rgb(26, 140, 216);
    padding: 10px;
}
.texto-s{
    margin-top: 5px;
    width: 50%;
    font-size: 11px;
}
.texto-centrado{
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: rgb(26, 154, 240);
}
.cuenta{
    font-weight: bold;
        margin-top: 50px;
        font-size: 20px;
}
.sesion {
    font-weight: bold;
    border-radius: 40px;
    width: 50%;
    padding: 10px;
    color: rgb(26, 140, 216);
    background-color: white;
    border: 1px solid rgb(206, 217, 222);
}
button{
    font-size: 10px;
    text-align: top;
}
